.footer-heading {
  color: #fff;
  grid-column: 5/7;
  grid-row: 1/2;
  text-align: center;

  @media (max-width: 450px) {
    grid-column: 2/10;
  }
  h1 {
    font-size: 1.5rem;
  }
}
.copyright {
  grid-column: 5/7;
  grid-row: 2/3;
  color: #fff;
  text-align: center;
  padding-bottom: 2rem;
  font-size: 1.3rem;
  @media (max-width: 450px) {
    grid-column: 2/10;
  }
}
